body {
    margin: 0px;
    color: rgb(0, 0, 0);
    background-color: rgba(53, 94, 157, 0.775);

}

.container-flex {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.assignment-flex {
    display: flex;
    flex-direction: row;
    background-color: rgba(161, 182, 214, 0.775);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.repo-icon > img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.btnRepo {
    text-align: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}

a {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s;
}

#accessRepo {
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgba(44, 61, 87, 0.775);
    color: white;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
}

a:hover {
    background-color: blueviolet;
    width: 70%;
    border-radius: 5px;
}