body {
    margin: 0px;
    color: rgb(0, 0, 0);
    background-color: rgba(53, 94, 157, 0.775);

}

.container-flex {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
}

.assignment-flex {
    display: flex;
    flex-direction: row;
    background-color: rgba(161, 182, 214, 0.775);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.repo-icon > img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}