.containerMain {
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin: 20%;
    padding: 20px;
}

.bloco1 {
    background-color: rgba(41, 204, 190, 0.575);
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.linha2-flex {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.esquerda2 {
    background-color: rgba(46, 139, 127, 0.678);
    width: 30%;
    height: 500px;
    margin-right: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.esquerda > h1 {
    height: 50%;
}

.direita2 {
    background-color: rgba(255, 0, 0, 0.465);
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.up2 {
    height: 40%;
}

.article-flex {
    display: flex;
    flex-direction: row;
}

.articles {
    width: 30%;
    margin: 15px;
    background-color: rgba(255, 245, 238, 0.582);
    height: 180px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.bloco3 {
    background-color: rgba(45, 204, 196, 0.555);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}